.header{
    display: flex;
    height: 110px;
    border: 2px solid red;
}
.top_main{
    width: 1356px;
    height: 100px;
}
.top-1{
    background-color: red;
    height: 45px;
    text-align: right;
    margin-bottom: 10px;
    border: 3px solid red;
}
.text-top-1{
    color: ivory;
    margin-top: 15px;
    text-transform: capitalize;
}
.top-2{
    background-color: rgb(231, 119, 119);
    text-align: center;
    height: 45px;
    border: 3px solid red;
}
.text-top-2{
    color: ivory;
    text-transform: capitalize;
}
.logo{
    float: right;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}
.content{
    display: flex;
    border: 1px solid red;

}
.col-1{
    height: auto;
    width: 50%;
    border: 1px solid red;

}
.col-2{
    height:auto;
    width: 50%;
    border: 1px solid red;

}